/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/slides/Init.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Init_bgBlack__FoVD1 {
  animation: Init_bgBlack__FoVD1 2s ease-in 3s forwards;
}
@keyframes Init_bgBlack__FoVD1 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/components/Base.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Base_note__GZyZr {
  font-weight: bold;
  background: linear-gradient(transparent 50%, #21ff00 50%);
}

.Base_name__ZKjRM {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Base_affiliation__bzLFd {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Base_partsTitle__prWBC {
  text-align: left;
  width: 100%;
  padding: 0.8rem 1rem 0.8rem 1rem;
  font-size: 1.8rem;
}

.Base_contents__yZ_zK {
  padding: 0 2rem 2rem 2rem;
}

.Base_head__q2EGA {
  font-size: 1.3rem;
  color: #215bc6;
  font-weight: bold;
  text-decoration: underline;
}

.Base_subHead__CttCq {
  font-size: 1.1rem;
  color: #333;
  font-weight: bold;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/components/PageControl.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.PageControl_pageControl__tVO1M {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: rgb(100, 100, 100);
  font-size: min(3rem, 46px);
  padding: 1rem;
  z-index: 999;
}
